.black {
  color: white;
  background-color: black;
}
 a {
   color: black;
 }


.menu-item {
  color: white;
}

.menu-item:hover {
  color: #fc636b;
}

.active {
  color: #fc636b;
}


.menu-press-item a {
  color: black;
  background-color: white;
}




.menu-music-item a {
  color: black;
  background-color: white;
}

.albums {
  margin-bottom: 8vh;
}

.menu-about-item a {
  color: white;
  background-color: black;
}

.member-social:hover {
  color: #fc636b;
}

hr {
  color: #bdc3c7;
}

.press-menu {
  text-align: center;
  list-style-type: none;
}

@media (max-width: 599px) {

  .active {
    color: white;
  }

  .link-item {
    color: black;
    background-color: white;

  }
}

@media (max-width: 900px) {
  .link-item {
    color: black;
    background-color: white;

  }
}


/* .fa-apple {
  color: #ea1d5d;
} */

/* .fa-spotify {
  color: #1db954;
}

.fa-soundcloud {
  color: #ff8800;
}

.fa-bandcamp {
  color: #629aa9;
} */
