body {
  width: 100%;
  margin: auto;
  /* background-image: url(../assets/bg3.jpg); */
  background-size: cover;
}

.container {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: 2vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-title {
  display: none;

}


#title {
  cursor: pointer;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-links-mobile {
  display: none;
}

.link-item {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  border: none;
  border-radius: 100%;
  text-align: center;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.menu {
  margin-top: 12vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menu-links {
  display: flex;
  align-items: center;
}

.menu-img {
  border-radius: 20px;
}

/* .menu-img:hover .img-box {
  transform: scale(1.1);
  transition: all .3s;
} */

.menu-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-music-item {
  display: inline;
  list-style-type: none;
  margin-left: 10px;
}

.menu-about-item {
  display: inline;
  list-style-type: none;
  margin-left: 10px;
}

.menu-press-item {
  display: inline;
  list-style-type: none;
  margin-left: 10px;
}

.band-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10vh;
}

.albums {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 12vh;
}

/* .member-info {
  display: none;
} */

.album-box {
  width: 100%;
}

.album-img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.album-img:hover {
  transform: scale(1.4);
  transition: all .3s;
}

.embed-title {
  text-align: center;
  margin-bottom: 4vh;
  margin-top: 2vh;
}



.band-img {
  width: 70%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: e-resize;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.band-img:hover {
  transform: scale(1.2);
  transition: all .3s;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

}

a {
  text-decoration: none;
}


.img-box {
  width: 100%;
  /* height: 100%; */
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-item {
  cursor: pointer;
}

#about-img {
  display: none;
}

#press-img {
  display: none;
}

ul {
  padding: 0;
}

.active {
  padding: 0;
}

.menu-item {
  list-style-type: none;
  cursor: pointer;
  margin-bottom: 1vh;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  margin: 0;

}

#press-placeholder {
  text-align: center;
  margin-top: 25%;
}

.member-social {
  list-style-type: none;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
}

.track {
  display: flex;
  align-items: center;
}

.track-img {
  width: 40px;
  height: 40px;
}

.track-title {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: .5px;
}

.member-name {
  margin-top: 12vh;
  margin-bottom: 2vh;
}

.listen-platform {
  margin-right: 10px;
  cursor: pointer;
}

.music-list {
  text-align: center;
  display: none;
}

.press-menu-wrap {
  margin-top: 20%;
}

.press-menu {
  margin-bottom: 2vh;
}

.logo {
display: none;

}

#logo-img {
  width: 40px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#desktop-logo-img {
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;

}





/* #music-list-one {
  display: none;
}

#music-list-two {
  display: none;
} */


/* .menu-item:hover {
  text-decoration: underline;
} */
