
/* Phone media queries */
@media (max-width: 599px) {

  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    display: none;
  }

  .logo {
    display: block;
    margin-top: 4vh;
  }

  .menu {
    grid-template-columns: 1fr;
    margin-top: 40%;
  }

  .menu-item {
    float: left;
  }

  .menu-img {
    display: none;
  }

  .img-item {
    margin-bottom: 4vh;
  }

  .img-box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

  }

  #about-img {
    display: block;
  }

  #press-img {
    display: block;
  }

  .social-links-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 4vh;

  }

  .band-info {
    grid-template-columns: 1fr;
  }

  .band-img {
    margin-bottom: 1vh;
  }

  .member-name {
    margin-top: 1vh;
    text-align: center;
  }

  .press-menu-wrap {
    margin-top: 75%;
  }

  p {
    text-align: center;
  }

  .member-social {
  display: none;
  }





}




/* Tablet media queries */
@media (max-width: 900px) {



}
