
/* Phone media queries */
@media (max-width: 599px) {

  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    grid-template-columns: 1fr;
  }

  #desktop-logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
  }

  #title {
    display: none;
  }

  .social-links {
    display: none;
  }

  .menu-top {
    justify-content: center;
  }

  .logo {
    display: block;
    margin-top: 4vh;
  }

  .menu {
    grid-template-columns: 1fr;
    margin-top: 40%;
  }

  .menu-item {
    float: left;
  }

  .menu-img {
    display: none;
  }

  .img-item {
    margin-bottom: 4vh;
  }

  .img-box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

  }

  #about-img {
    display: block;
  }

  #press-img {
    display: block;
  }

  .social-links-mobile {
    display: flex;
    margin-top: 8vh;
    justify-content: flex-start;

  }

  .band-info {
    grid-template-columns: 1fr;
  }

  .band-img {
    margin-bottom: 2vh;
  }

  .member-name {
    margin-top: 1vh;
    text-align: center;
  }

  .press-menu-wrap {
    margin-top: 75%;
  }

  p {
    text-align: center;
  }

  .member-social {
  display: none;
  }

  .albums {
    grid-template-columns: 1fr;
  }

  .album-img {
    width: 100%;

  }

  .album-img:hover {
    transform: none;
    transition: all .3s;
  }

  .link-item {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    border: none;
    border-radius: 100%;
    text-align: center;
    padding: 0;
    outline: none;
    cursor: pointer;
  }





}




/* Tablet media queries */
@media (max-width: 900px) {

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.menu-img {
  display: none;
}

.album-img {
  width: 75%;
}

.album-img:hover {
  transform: none;
  transition: all .3s;
}

}
