@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap');



h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Roboto Mono";
  font-size: 1em;
  letter-spacing: 0;
}

h3 {
  font-size: 1em;
}

#press-placeholder {
  font-family: "Playfair Display";
  font-size: 2em;
}

#title {
  font-size: 1.2em;
  font-weight: 700;
}

.link-item-mobile {
  font-size: 1em;
}

.link-item {
  font-size: .8em;
}

.menu-item {
  font-family: "Montserrat";
  font-size: 5.5em;
  font-weight: 700;
}

.fa-arrow-up {
  font-size: .5em;
  transform: rotate(45deg);
}

.press-menu {
  font-family: "Montserrat";
  font-size: 4em;
  font-weight: 600;
}

.press-menu:hover {
  text-decoration: line-through;
}

.menu-item:hover {
  text-decoration: underline;
}

.active {
  font-family: "Montserrat";
  font-size: 11em;
  font-weight: 700;
  text-decoration: underline;
}

.menu-music-item {
  font-family: "Montserrat";
  font-size: .8em;
  font-weight: 700;
}

.menu-press-item:hover {
  text-decoration: underline;
}

.menu-about-item:hover {
  text-decoration: underline;
}

.menu-music-item:hover {
  text-decoration: underline;
}

.menu-about-item {
  font-family: "Montserrat", sans-serif;
  font-size: .8em;
  font-weight: 700;
}

.menu-press-item {
  font-family: "Montserrat", sans-serif;
  font-size: .8em;
  font-weight: 700;
}

.member-name {
  font-size: 2.4em;
}

.member-social {
  font-size: 1.8em;
}

/* Mobile media queries */
@media (max-width: 599px) {
  .menu-item {
    font-family: "Montserrat";
    font-size: 5em;
    font-weight: 700;
  }

  .active {
    font-family: "Montserrat";
    font-size: 5em;
    font-weight: 700;
    text-decoration: none;
  }

  .press-menu {
    font-size: 2.4em;
  }

  .member-name {
    font-size: 1.8em;
  }

  #mobile-title {
    font-family: "Montserrat";
    font-size: .8em;
    font-weight: 700;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .menu-item {
    font-size: 3.6em;
  }

  .active {
    font-size: 7em;
  }

}
